name: Build & Deploy

on:
  workflow_call:
    inputs:
      ENV_NAME:
        type: string
        required: true
      DEPLOY_DIRECTORY:
        type: string
        required: false
      PM2_PROCESS_NAME:
        type: string
        required: true
    secrets:
      DEPLOY_HOST:
        required: true
      DEPLOY_USERNAME:
        required: true
      DEPLOY_PORT:
        required: false
      DEPLOY_SSH_KEY:
        required: true

jobs:
  build:
    name: build-app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Run tests
        run: bun test

      - name: Package with bun pm pack --quiet (capture filename)
        run: |
          ARCHIVE=$(bun pm pack --quiet)
          echo "ARCHIVE=$ARCHIVE" >> $GITHUB_ENV
          echo "Created archive: $ARCHIVE"
      - run: |
          DEPLOY_DIRECTORY="${{ secrets.DEPLOY_DIRECTORY || ("/home/" + secrets.DEPLOY_USERNAME) }}"
          echo "DEPLOY_DIRECTORY=$DEPLOY_DIRECTORY" >> $GITHUB_ENV

      - name: Copy bundle to remote
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          source: "${{ env.ARCHIVE }}"
          target: "${{ env.DEPLOY_DIRECTORY }}/releases/"

      - name: Deploy on remote and reload PM2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            DEPLOY_DIR="${{ env.DEPLOY_DIRECTORY }}"
            RELEASES_DIR="$DEPLOY_DIR/releases"

            ARCHIVE_NAME="${{ env.ARCHIVE }}"
            PM2_PROCESS_NAME="${{ secrets.PM2_PROCESS_NAME }}"

            cd "$RELEASES_DIR"
            tar -xzf "$ARCHIVE_NAME"
            rm "$ARCHIVE_NAME"

            curl -fsSL https://bun.com/install | bash

            SCRIPT_PATH=$(bun --silent -e "console.log(require('./package.json').main)")

            if pm2 describe "$PM2_PROCESS_NAME" >/dev/null 2>&1; then
              pm2 restart "$PM2_PROCESS_NAME"
            else
              pm2 start "bun $SCRIPT_PATH" --name "$PM2_PROCESS_NAME"
            fi